body {
  font-family: Arial, sans-serif;
  background-color: #fff7e6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d63031;
  color: white;
  text-align: center;
  padding: 15px;
}

nav {
  margin-top: 10px;
}

.menu-btn {
  background-color: #ffeaa7;
  border: none;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-btn:hover {
  background-color: #fab1a0;
}

#menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  text-align: center;
}

.card button {
  background-color: #55efc4;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#carrinho-container {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
